[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/makowiec (makowiecki)
[access "refs/for/refs/*"]
	read = group user/makowiec (makowiecki)
	push = group user/makowiec (makowiecki)
	label-Code-Review = -2..+2 group user/makowiec (makowiecki)
	label-Verified = -1..+1 group user/makowiec (makowiecki)
	rebase = group user/makowiec (makowiecki)
	removeReviewer = group user/makowiec (makowiecki)
	submit = group user/makowiec (makowiecki)
[access "refs/heads/*"]
	read = group user/makowiec (makowiecki)
	create = group user/makowiec (makowiecki)
	push = +force group user/makowiec (makowiecki)
	pushMerge = group user/makowiec (makowiecki)
[access "refs/tags/*"]
	push = +force group user/makowiec (makowiecki)
	pushTag = group user/makowiec (makowiecki)
	pushSignedTag = group user/makowiec (makowiecki)
[receive]
	requireChangeId = false
